.notes{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.newNote{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.newNote form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.newNote form input{
    padding: 10px;
    margin-bottom: 10px;
}
.newNote form button{
    padding: 10px;
    background-color: #000;
    color: #fff;
    border: none;
    cursor: pointer;
}
